{# {% extends 'base.html.twig' %} #}
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="{{ asset('css/connexion.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

{% block title %}{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <header>
    <div class="wrapper">
      <div class="content">
       <div class="flex flex-col items-center justify-center">
        <div class="bg-sky-500 shadow rounded-3xl lg:w-1/3  md:w-1/2 w-full p-10 mt-16 mb-6">
          <div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
      <div class="w-full max-w-md space-y-8">
        <div>
          <h3 class="mt-6 text-center text-4xl font-bold tracking-tight text-gray-900">Connectez-vous à votre compte</h3>
        </div>
        <form class="mt-8 space-y-6" action="#" method="POST">
          <input type="hidden" name="remember" value="true">
          <div class="-space-y-px rounded-full shadow-sm">
            <div>
              <label for="inputEmail" class="sr-only">Adresse e-mail</label>
              <input id="inputEmail" value="{{ last_username }}" name="email" type="email" autocomplete="email" required class="relative block w-full appearance-none  rounded-full border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="Adresse e-mail">
            </div>
            </br>
            <div>
              <label for="inputPassword" class="sr-only">Mot de passe</label>
              <input id="inputPassword" name="password" type="password" autocomplete="current-password" required class="relative block w-full appearance-none rounded-full border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="Mot de passe">
            </div>
          </div>
  
          <div class="flex items-center justify-between">
            <div class="flex items-center">
              <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
              <label for="remember-me" class="ml-2 block text-sm text-gray-900">Souviens-toi de moi</label>
            </div>
  
            <div class="text-xs">
              <a href="{{ path('forgotten_password') }}" class="font-medium text-blue-900 hover:text-gray-300">Mot de passe oublié?</a>
            </div>
          </div>
  
          <div>
            <button type="submit" class="group relative flex w-full justify-center rounded-full border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                  <!-- Heroicon name: mini/lock-closed -->
                  <svg class="h-5 w-5 text-blue-900 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                </span>         
                S'identifier
            </button>
              <div class="text-center">
                <div class="text-xs">
                  <a href="{{ path('app_register') }}" class="font-medium text-blue-900 hover:text-gray-300">Inscription</a>
                </div>
              </div>
          </div>
        </form>
      </div>
    </div>
        </div>
      </div>
    </div>
    <div id="retour">
<a href="{{path('app_presentation')}}">
<span class="material-symbols-outlined" id="icon">
arrow_back
</span></a>
</div>
    </div>
  </header>

    
{% endblock %}
