<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="{{ asset('css/connexion.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

{% block title %}{% endblock %}

{% block body %}
 <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>

    {% form_theme requestPassForm 'tailwind_2_layout.html.twig' %}
{{ form_start(requestPassForm) }}

<div class="min-w-screen min-h-screen bg-sky-500 flex items-center justify-center px-5 py-5">

    <div class="bg-slate-50 text-gray-500 rounded-3xl shadow-xl w-full overflow-hidden" style="max-width:1000px">
                {# Titre Inscription  #}
                <div class="text-center mb-10">
                    <h1 class="font-bold text-3xl text-gray-900 mt-5">Rétialisation</h1>
                </div>
        <div class="md:flex w-full">   
            <div class="w-full md:w-1/2 py-10 px-5 md:px-10">
                    {# Form Register #}
                    <div class="flex -mx-3">
                        <div class="w-1/2 px-3 mb-5">
                            <label for="" class="text-xs text-black font-medium px-1">email</label>
                            <div class="flex">
                                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
                                 {{ form_widget(requestPassForm.email,{widget_class: 'w-full -ml-10 pl-1 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500',}) }}    
                            </div>
                        </div>
                    </div>
                </div>
                </div>
              
                        {{ form_end(requestPassForm) }}
                </div>
            </div>
        </div>
    </div>
</div>
    


{% endblock %}