{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="{{ asset('css/home.css')}}">

<div class="flex flex-wrap" id="accueil">
{% if not is_granted('ROLE_CONSULTANT') and not is_granted('ROLE_CRC') %}
  <div class="w-1/2 p-4">
  <a href="{{path('app_training')}}">
    <div class="bg-blue rounded-lg p-6" id="card">
      <i class="fa fa-graduation-cap " id="icon"></i>
      <h2 class="text-lg font-medium mb-4 text-center">Formations</h2>
    </div>
    </a>
  </div>
  {% endif %}

{% if not is_granted('ROLE_CONSULTANT') %}
  <div class="w-1/2 p-4">
  <a href="{{path('app_document')}}">
    <div class="bg-blue rounded-lg p-6" id="card">
      <i class="fa fa-file-alt" id="icon"></i>
      <h2 class="text-lg font-medium mb-4 text-center">Documents</h2>
    </div>
    </a>
  </div>
  {% endif %}

  <div class="w-1/2 p-4">
    <div class="bg-blue rounded-lg p-6" id="card">
      <i class="fa fa-calendar " id ="icon"></i>
      <h2 class="text-lg font-medium mb-4 text-center">Calendrier</h2>
    </div>
  </div>
  <div class="w-1/2 p-4">
    <div class="bg-blue rounded-lg p-6" id="card">
      <i class="fa fa-comments" id="icon"></i>
      <h2 class="text-lg font-medium mb-4 text-center">Interlocuteur</h2>
    </div>
  </div>
</div>
{% endblock %}
