{% extends 'base.html.twig' %}

{% block title %}Envoyer messages!{% endblock %}

{% block body %}
    <h1>Envoyer un message</h1>

    {{ form_start(MessagingTypeForm) }}
        {{ form_row(MessagingTypeForm.receiver) }}
        {{ form_row(MessagingTypeForm.content) }}
        <button type="submit">Envoyer</button>
    {{ form_end(MessagingTypeForm) }}
{% endblock %}
