{# {% extends 'base.html.twig' %} #}
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="{{ asset('css/inscription.css')}}">

{% block title %}{% endblock %}

{% block body %}
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>

    {% form_theme registrationForm 'tailwind_2_layout.html.twig' %}
{{ form_start(registrationForm) }}
{# Photo de profil {{ form_widget(registrationForm.picture) }} #}

<div class="min-w-screen min-h-screen bg-sky-500 flex items-center justify-center px-5 py-5">

    <div class="bg-slate-50 text-gray-500 rounded-3xl shadow-xl w-full overflow-hidden" style="max-width:1000px">
                {# Titre Inscription  #}
                <div class="text-center mb-10">
                    <h1 class="font-bold text-3xl text-gray-900 mt-5">Inscription</h1>
                    <p>Entrez vos informations pour vous inscrire</p>
                </div>
        <div class="md:flex w-full">   
            <div class="w-full md:w-1/2 py-10 px-5 md:px-10">
                    {# Form Register #}
                    <div class="flex -mx-3">
                        <div class="w-1/2 px-3 mb-5">
                            <label for="" class="text-xs text-black font-medium px-1">Nom</label>
                            <div class="flex">
                                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
                                 {{ form_widget(registrationForm.name,{widget_class: 'w-full -ml-10 pl-1 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500',}) }}    
                            </div>
                        </div>
                        <div class="w-1/2 px-3 mb-5">
                            <label for="" class="text-xs text-black font-medium px-1">Prénom</label>
                            <div class="flex">
                                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
                                {{ form_widget(registrationForm.firstname,{widget_class: 'w-full -ml-10 pl-1 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500',}) }}
                            </div>
                        </div>
                    </div>
                    <div class="flex -mx-3">
                        <div class="w-full px-3 mb-5">
                            <label for="" class="text-xs text-black font-medium px-1">Date de naissance </label>
                            <div class="flex">
                                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
                                {{ form_widget(registrationForm.datebirth,{widget_class: 'w-40 -ml-10 pl-1 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500',}) }}
                            </div>
                        </div>
                        <div class="w-full px-3 mb-5">
                            <label for="" class="text-xs text-black font-medium px-1">Télephone</label>
                            <div class="flex">
                                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
                                {{ form_widget(registrationForm.phone,{widget_class: 'w-40 -ml-10 pl-1 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500',}) }}
                            </div>
                        </div>
                    </div>
                    <div class="flex -mx-3">
                        <div class="w-full px-3 mb-12">
                            <label for="" class="text-xs text-black font-medium px-1">Adresse mail </label>
                            <div class="flex">
                                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
                                {{ form_widget(registrationForm.email,{widget_class: 'w-80 -ml-10 pl-1 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500',}) }}
                            </div>
                        </div>
                        <div class="w-full px-3 mb-12">
                            <label for="" class="text-xs text-black font-medium px-1">ID</label>
                            <div class="flex">
                                <div class="w-10  pl-1 pointer-events-none flex items-center justify-center"></div>
                                {{ form_widget(registrationForm.reference,{widget_class: 'w-16 -ml-10  pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500',}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/2 py-10 px-5 md:px-10">
                    <div class="flex -mx-3">
                        <div class="w-full px-3 mb-12">
                            <label for="" class="text-xs text-black font-medium px-1">Adresse</label>
                            <div class="flex">
                                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
                                {{ form_widget(registrationForm.address,{widget_class: 'w-80 -ml-10 pl-1 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500',}) }}
                            </div>
                        </div>
                    </div>
                     <div class="flex -mx-3">
                        <div class="w-full px-3 mb-12">
                            <label for="" class="text-xs text-black font-medium px-1">Ville</label>
                            <div class="flex">
                                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
                                {{ form_widget(registrationForm.city,{widget_class: 'w-40 -ml-10 pl-1 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500',}) }}
                            </div>
                        </div>
                        <div class="w-full px-3 mb-12">
                            <label for="" class="text-xs text-black font-medium px-1">Code Postal</label>
                            <div class="flex">
                                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
                                {{ form_widget(registrationForm.postalcode,{widget_class: 'w-32 -ml-10 pl-1 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500',}) }}
                            </div>
                        </div>
                    </div>
                        <div class="flex -mx-3">
                            <div class="w-full px-3 mb-12">
                                <label for="" class="text-xs text-black font-medium px-1">Mot de passe</label>
                                <div class="flex">
                                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
                                    {{ form_widget(registrationForm.plainPassword.first,{widget_class: 'w-40 -ml-10 pl-1 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500',}) }}
                                </div>
                            </div>
                            <div class="w-full px-3 mb-12">
                                <label for="" class="text-xs text-black font-medium px-1">Répéter votre mot de passe</label>
                                <div class="flex">
                                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
                                    {{ form_widget(registrationForm.plainPassword.second,{widget_class: 'w-40 -ml-10 pl-1 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500',}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="text-center">
                  {{ form_widget(registrationForm.agreeTerms) }}Accepter les conditions 
                            <button  type="submit" class="block w-full max-w-xs mx-auto bg-sky-500 hover:bg-indigo-700 focus:bg-indigo-700 text-white rounded-lg px-2 py-2  font-medium">INSCRIVEZ-VOUS MAINTENANT</button>
                             <a href="{{ path('app_login') }}">
                                        <p class="my-1">Connexion</p>
                            </a>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
