


{% block title %}{% endblock %}


<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="{{ asset('css/visitor.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

{% block body %}
<header>
<div class="wrapper">
<div class="content">
 <h1 class="text-center text-xl text-wite" id="title">LES FORMATIONS</h1>
<div class='flex flex-wrap my-5' id="formation">
    {% for training in trainings %}
        <div class="w-1/3 md:w-1/2 lg:w-1/3 px-4 mx-auto">
            <div class="card mt-5 bg-sky-600 rounded-lg shadow-lg" id="card">
                <div class="card-body text-center">
                    <a class="text-white mt-3" href="{{ path('app_show', {'id' : training.id }) }}">
                        {% if training.id %}
                            {{ training.name }}
                        {% endif %}</br>
                    <button class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-6">En savoir plus</button>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
</div>
<div id="retour">
<a href="{{path('app_presentation')}}">
<span class="material-symbols-outlined" id="icon">
arrow_back
</span></a>
</div>
</div>
</header>
{% endblock %}
