{% extends 'base.html.twig' %}

{% block body %}
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="{{ asset('css/createform.css')}}">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

{% form_theme createForm 'tailwind_2_layout.html.twig' %}
{{ form_start(createForm) }}

<div class="min-w-screen min-h-screen bg-sky-500 flex items-center justify-center px-5 py-5">

    <div class="bg-slate-50 text-gray-500 rounded-3xl shadow-xl w-full overflow-hidden" style="max-width:600px" id="formulaire">
                
                <div class="text-center mb-10">
                    <h1 class="font-bold text-3xl text-gray-900 mt-5" id="title">Prise de rendez-vous</h1>
                </div>

    <div class="w-1/2 px-3 mb-5" style="margin-left: 149px">
        <label for="" class="text-xs text-black font-medium px-1">date de début</label>
            <div class="flex">
                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
                        {{ form_widget(createForm.start_date,{widget_class: 'w-full -ml-10 pl-1 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500',}) }}    
            </div>
    </div>

    <div class="w-1/2 px-3 mb-5" style="margin-left: 149px">
        <label for="" class="text-xs text-black font-medium px-1">date de fin</label>
            <div class="flex">
                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
                        {{ form_widget(createForm.end_date,{widget_class: 'w-full -ml-10 pl-1 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500',}) }}    
            </div>
    </div>

     <div class="w-1/2 px-3 mb-5" style="margin-left: 149px">
        <label for="" class="text-xs text-black font-medium px-1">Formation</label>
            <div class="flex">
                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
                        {{ form_widget(createForm.training_id,{widget_class: 'w-full -ml-10 pl-1 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500',}) }}    
            </div>
    </div>

     <div class="w-1/2 px-3 mb-5" style="margin-left: 149px">
        <label for="" class="text-xs text-black font-medium px-1">Consultant</label>
            <div class="flex">
                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
                        {{ form_widget(createForm.receiver_id,{widget_class: 'w-full -ml-10 pl-1 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500',}) }}    
            </div>
    </div>
    
     <div class="w-1/2 px-3 mb-5" style="margin-left: 149px">
        <label for="" class="text-xs text-black font-medium px-1">message</label>
            <div class="flex">
                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
                        {{ form_widget(createForm.description,{widget_class: 'w-full -ml-10 pl-1 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500',}) }}    
            </div>
    </div>

     {{ form_end(createForm) }}
                
</div>
</div>


</div>

{% endblock %}