{% extends 'base.html.twig' %}

{% block title %}Rendez-vous{% endblock %}


{% block body %}
<div class=" flex flex-col sm:flex-row">
  <div class="sm:w-1/3"></div>
  <div class="m-12 sm:w-1/2" id="calendrier">
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.0.1/index.global.min.js" integrity="sha256-wKSlmJX2aO3MGLwAyZeYmYpSBBI42kGszk55a52vKqs=" crossorigin="anonymous"></script>
{% block javascripts %}
{% endblock %}

<script> 
window.onload = () => {
    var calendarEl = document.querySelector("#calendrier")
    console.log(calendarEl)
     var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'timeGridWeek', 
          locale: 'fr', 
          timeZone: 'Europe/Paris',
          headerToolbar: {
            start: 'prev,next today',
            center:'title',
            end:'dayGridmonth,TimeGridWeek',
          },
          slotMinTime: '08:00:00',
          slotMaxTime: '18:00:00',
          events: {{ data|raw }},
          hiddenDays: [0, 6]// 0 représente dimanche, 6 représente samedi
         
    })
    calendar.render()
}
</script> 
{% endblock %}
