{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/calendar.css') }}">
{% endblock %}


{% block body %}
<div class="flex flex-col sm:flex-row">
    <div class="sm:w-1/3"></div>
    <div class="m-12 sm:w-1/2" id="calendrier"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.0.1/index.global.min.js" integrity="sha256-wKSlmJX2aO3MGLwAyZeYmYpSBBI42kGszk55a52vKqs=" crossorigin="anonymous"></script>
{% block javascripts %}
{% endblock %}

<script>
    function generateUniqueId() {
        // Générer un identifiant unique
        return '_' + Math.random().toString(36).substr(2, 9);
    }
    window.onload = () => {
        var calendarEl = document.querySelector("#calendrier");
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek',
            locale: 'fr',
            timeZone: 'Europe/Paris',
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth,timeGridWeek',
            },
            slotMinTime: '08:00:00',
            slotMaxTime: '18:00:00',
            events: {{ data|raw }},
            hiddenDays: [0, 6],
            eventRender: function(info) {
                var today = new Date();
                if (info.event.start < today) {
                    info.el.querySelector('.fc-event-main').classList.add('event-passe');
                }
            },
            selectable: true,
           select: function(info) {
    // Obtenir la date actuelle
    var currentDate = new Date();
    
    // Comparer la date sélectionnée avec la date actuelle
    if (info.start < currentDate) {
        // Date sélectionnée est antérieure à la date actuelle, ne pas afficher le prompt
        return;
    }
    // Demander la description de l'événement
    var description = prompt('Description de l\'événement :');
    if (description) {
        var event = {
            id: generateUniqueId(),
            start: info.startStr,
            end: info.endStr,
            description: description
        };
        calendar.addEvent(event);

                    // Enregistrer l'événement dans votre backend ou faire d'autres traitements
                    // en utilisant les valeurs de 'id', 'start', 'end', 'title', 'description'

                    // Par exemple, vous pouvez envoyer les données à votre backend via une requête AJAX
                    // pour enregistrer l'événement dans une base de données

                    // $.ajax({
                    //     url: '/api/events',
                    //     method: 'POST',
                    //     data: event,
                    //     success: function(response) {
                    //         // Traitez la réponse du backend si nécessaire
                    //     },
                    //     error: function(error) {
                    //         // Gérez l'erreur de la requête AJAX si nécessaire
                    //     }
                    // });
                }
            }
        });


        calendar.render();
    };
</script>

<style>
    .fc-event-main {
        background: black;
        visibility: hidden;
    }
    
    .event-passe {
        background: red;
    }
</style>
{% endblock %}
