#title {
    margin-left: 19rem;
    margin-top: 3rem;
    position: relative;
    font-weight: bold;

}
#documents {
    margin-left: 41rem;
}
#button {
    margin-left: 40rem;
    margin-top: -2rem;
}

#pdf {
    margin-left: 28rem;
}
