body, html, header,h1{
    margin:0px;
    padding:0px
    }
    body{
    font-family: helvetica;
    }
    header,body,html{
    width:100%;
    height:100%;
    }
    header{
    background-size:cover;
    }
    #formulaire {
        height: 520px;
    }
    .wrapper{
    display:table;
    width:100%;
    height:100%;
    }
    .content{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    }
    h1{
    font-size:70px;
    }
#title {
    color: blue;
}
#edit_profile_modification {
    display: inline-block;
  background-color: blue;
  border-radius: 10px;
  border: 1px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 18px;
  padding: 13px;
  width: 149px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 11px;
}
#retour {
    position: fixed;
    height: 53px;
    width: 53px;
    left: 45px;
    bottom: 50px;
    background: crimson;
    border-radius: 50%;
}
#icon {
    color: whitesmoke;
    cursor: pointer;
    font-size: 52px;

    
}
#form_Modification {
    
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
#formulaire {
    background: rgb(231, 229, 225,0.7)
}