
#title {
    margin-left: 19rem;
    margin-top: 3rem;
    position: relative;
    font-weight: bold;
    
    
}

#card {
    height: 8rem;
    width: 19rem;
    box-shadow: 10px 5px 10px rgb(153, 151, 151);
    margin-left: -4rem;

    
}
#formation {
    margin-top: 4rem;
    margin-left: 25rem;
}
#message {
    position: fixed;
    height: 53px;
    width: 53px;
    left: 45px;
    bottom: 50px;
    /* background: crimson; */
    border-radius: 50%;
}
#icon {
    color: rgb(184, 36, 36);
    cursor: pointer;
    font-size: 52px;

    
}