#title {
    margin-left: 19rem;
    margin-top: 3rem;
    position: relative;
    font-weight: bold;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    
  }

  .card {
    flex-basis: 30%;
    
  }
  