#card{
    background-color: rgb(32, 98, 241);
}
#accueil {
    margin: 2rem;
    margin-left: 28rem;
    padding-top: 3rem;
    margin-top: 70px;
    box-shadow: 10px 10px 26px rgb(146, 144, 144);
    height: 28rem;
    width: 50rem;
    background: rgb(224, 221, 221);
}
#icon {
    position: absolute;
}
