body, html, header,h1{
    margin:0px;
    padding:0px;
    
}
body{
    font-family: helvetica;

    }
    header,body,html{
    width:100%;
    height:100%;
    }
    header{
    background:  linear-gradient(to bottom, rgba(0, 176, 240, 0.8), rgba(32, 56, 100, 0.8)), url("https://filofrance.fr/wp-content/uploads/2022/04/filo-service-client-apport-daffaire.jpg") no-repeat center center;
    background-size:cover;
    width: 100%;
    height: auto;

    }
    .wrapper{
    display:table;
    width:100%;
    height:100%;
    }
    .content{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    }
    h1{
    font-size:70px;
    }