body, html, header,h1{
    margin:0px;
    padding:0px;
    
}
body{
    font-family: helvetica;

    }
    header,body,html{
    width:100%;
    height:100%;
    }
    header{
    background:  linear-gradient(to bottom, rgba(0, 176, 240, 0.8), rgba(32, 56, 100, 0.8)), url("https://filofrance.fr/wp-content/uploads/2022/04/filo-service-client-apport-daffaire.jpg") no-repeat center center;
    background-size:cover;
    width: 100%;
    height: auto;

    }
    .wrapper{
    display:table;
    width:100%;
    height:100%;
    }
    .content{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    }
    h1{
    font-size:70px;
    }
    #title {
        font-weight: bold;
        color: white;
        margin-top: 5rem;
    }
    #card {
        height: 8rem;
        width: 18rem;
        box-shadow: 10px 5px 10px rgb(153, 151, 151);
        background-color: rgb(20, 20, 163);
        
    }
    #formation {
        margin: 14rem;
        margin-top: 140px;
        
    }
    #retour {
        position: fixed;
        height: 53px;
        width: 53px;
        left: 45px;
        bottom: 50px;
        background: crimson;
        border-radius: 50%;
    }
    #icon {
        color: whitesmoke;
        cursor: pointer;
        font-size: 52px;
    
        
    }