{# {% extends 'base.html.twig' %} #}
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="{{ asset('css/presentation.css')}}">

{% block title %}{% endblock %}

{% block body %}


<header>
    <div class="wrapper">
      <div class="content">
       <div class="flex flex-col items-center justify-center">
        <div class="bg-sky-500 shadow rounded-3xl lg:w-1/2  md:w-1/2 w-full p-10 mt-16 mb-6">
          <div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
      <div class="w-full max-w-md space-y-8">
        <div>
          <div class="mt-10">
          <button class="bg-blue-700 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-5"><a href="{{path('app_login')}}">UTILISATEURS
            </button></a>

          <button class="bg-blue-700 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"><a href="{{path('app_visitor')}}">VISITEURS
            </button></a>
            </div>
        </div>
      </div>
    </div>
        </div>
      </div>
    </div>
    </div>
  </header>
{% endblock %}
