{# {% extends 'base.html.twig' %}

{% block title %}ConsultantController!{% endblock %}

{% block body %}
<script src='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css' rel='stylesheet' />

     <style>#map { height: 26rem; width: 50rem; margin-left:28rem; margin-top:8rem; }</style>

<div id="map"></div>




<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibGVua2kzNCIsImEiOiJjbGdsenF0OXEwMTFiM2Vwb2xqNTA0cjU1In0.A_ZpNZ0wqxtaxiMmpaXhCA';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11'
    });

var consultants = {{ consultantsData | raw }};
consultants.forEach(function(consultant) {
    var popup = new mapboxgl.Popup()
        .setHTML('<h4>' + consultant.name + '</h4><p>' + consultant.city + '</p>');
    var marker = new mapboxgl.Marker()
        .setLngLat([consultant.longitude, consultant.latitude])
        .setPopup(popup)
        .addTo(map)
        .on('click', function() {
            popup.addTo(map);
        });
});

</script>

{% endblock %} #}
