<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/> <!--Replace with your tailwind.css once created-->
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
        <body>
{# <nav class="p-3 c rounded bg-blue-800 dark:bg-gray-800 dark:border-gray-700 z-99 flex justify-between"> #}
<nav class="p-3 c rounded {% if is_granted('ROLE_CRC') %}bg-red-500{% else %}bg-blue-800 dark:bg-gray-800{% endif %} dark:border-gray-700 z-99 flex justify-between">
    <div class="container flex flex-wrap items-center  mx-auto">
      <a href="#" class="flex items-center">
        <img src="https://filofrance.fr/wp-content/uploads/2022/03/Filo-logo-Blanc.png" class="h-6 mr-3 sm:h-10" alt="FiloLogo" />
      </a>
      <span class="flex text-white text-2xl top-5 left-4 cursor-pointer" onclick="openSidebar()">
        <i class="bi bi-filter-left px-2 rounded-md"></i>
      </span>
    </div>
  {% if app.user.picture %}
  <a href="{{path('app_user')}}">
    <img class= "w-12 h-11 rounded-full mx-auto" src= "{{ asset("/profile/pictures/" ~ app.user.picture)}}"</a>
    
    {% else %}
    <a href="{{path('app_user')}}">
      <img class="w-12 h-12 rounded-full  mx-auto  flex"  src="https://source.unsplash.com/150x150/?portrait?3" ></img></a>
      {% endif %}
      <h2 class="font-medium text-xs md:text-sm text-center text-white">
        <a href="{{path('app_user')}}">
        </h2> 
  </nav>
  {# <div class="sidebar fixed top-0 bottom-0 lg:left-0 p-2 w-[300px] overflow-y-auto text-center bg-gray-900 z-99" > #}
  <div class="sidebar fixed top-0 bottom-0 lg:left-0 p-2 w-[300px] overflow-y-auto text-center {% if is_granted('ROLE_CRC') %}bg-red-500{% else %}bg-gray-900{% endif %} z-99">
    <div class="text-gray-100 text-xl">
      <div class="p-2.5 mt-1 flex items-center">
        
           <div class="ml-3">     
  </div>
        <i class="bi bi-x cursor-pointer ml-28 lg:hidden"  onclick="openSidebar()" ></i>
      </div>
      <div class="my-2 bg-gray-600 h-[1px]"></div>
    </div>
    <a href="{{path('app_meeting')}}" class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
      <i class="fa fa-calendar "></i>
      <span class="text-[15px] ml-4 text-gray-200 ">Calendrier</span>
    </a>
    {% if is_granted('ROLE_CONSULTANT') or is_granted('ROLE_CRC') %}
    {# Ne rien afficher pour les consultants ou les CRC #}
{% else %}
    <a href="{{ path('app_training') }}" class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
        <i class="fa fa-graduation-cap "></i>
        <span class="text-[15px] ml-4 text-gray-200 ">Formation</span>
    </a>
{% endif %}
{% if is_granted('ROLE_CONSULTANT') %}
    {# Ne rien afficher pour les consultants #}
{% else %}
    <a href="{{path('app_document')}}"class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
      <i class="fa fa-file-alt"></i>
      <span class="text-[15px] ml-4 text-gray-200 ">Document</span>
    </a>
    {% endif %}
    <a href="{{path('app_messaging')}}"class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
      <i class="fa fa-comments"></i>
      <span class="text-[15px] ml-4 text-gray-200 ">Interlocuteur</span>
    </a>
    <div class="my-4 bg-gray-600 h-[1px]"></div>
    <a href="{{ path('app_logout') }}" class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
      <i class="bi bi-box-arrow-in-right"></i>
      <span class="text-[15px] ml-4 text-gray-200 "> Se déconnecter</span>
    </a>
  </div>

  <script type="text/javascript">
    function dropdown() {
      document.querySelector("#submenu").classList.toggle("hidden");
      document.querySelector("#arrow").classList.toggle("rotate-0");
    }
    dropdown();

    function openSidebar() {
      document.querySelector(".sidebar").classList.toggle("hidden");
    }
  </script>
</body>
        {% block body %}
        {% endblock %}   
</html>