{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<script src="https://cdn.tailwindcss.com"></script>
<div class="mx-96 mt-32">
{{ form_start(docForm) }}

    {{ form_row(docForm) }}
{{ form_end(docForm) }}
</div>


{% endblock %}