{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="{{ asset('css/formations.css')}}">

    <h1 class="text-center text-xl" id="title">LES FORMATIONS</h1>
<div class='flex flex-wrap my-5' id="formation">
    {% for training in trainings %}
        <div class="w-1/3 md:w-1/2 lg:w-1/3 px-4 mx-auto">
            <div class="card mt-5 bg-sky-600 rounded-lg shadow-lg" id="card">
                <div class="card-body text-center">
                    <a class="text-white mt-3" id="titletraining" href="{{ path('app_show', {'id' : training.id }) }}">
                        {% if training.id %}
                            {{ training.name }}
                        {% endif %} </br>
                    <button class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-6">En savoir plus</button>
                    </a> 
                </div>
            </div>
        </div>
    {% endfor %}
    {# <div id="message">
<a href="{{path('app_presentation')}}">
<span class="material-symbols-outlined" id="icon">
chat
</span></a>
</div> #}
</div>




{% endblock %}