{% extends 'base.html.twig' %}


{% block title %}{% endblock %}

{% block body %}
<script src='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css' rel='stylesheet' />
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="{{ asset('css/formationshow.css')}}">



<div class="text-center" id="title">
  <h1>{{ training.name }}</h1>
  <p>{{ training.description }}</p>
  <div class="max-w-2xl mx-auto">
  <form method= "GET" class="flex items-center" id="search">   
        <label for="simple-search" class="sr-only">Search</label>
        <div class="relative w-full">
            <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
            </div>
            <input type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search" required>
        </div>
        {# <button type="submit" class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"><svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg></button> #}
    </form>
    </div>
  {% if users is not empty %}
    <h2>Consultants :</h2>

<div class="max-w-2xl mx-auto">
</div>
    <div class="card-container ">
      {% for user in users %}
       <!-- Définition du style de la carte -->
         <style>#map { height: 26rem; width: 55rem; margin-left:1rem; margin-top:-1rem; }</style>
       <!-- Élément HTML qui contiendra la carte -->
<div id="map"></div>

<script>
// Clé d'accès Mapbox pour l'API
    mapboxgl.accessToken = 'pk.eyJ1IjoibGVua2kzNCIsImEiOiJjbGdsenF0OXEwMTFiM2Vwb2xqNTA0cjU1In0.A_ZpNZ0wqxtaxiMmpaXhCA';
    // Création de la carte
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11'
    });

// Récupération des données des consultants depuis Twig et conversion en JavaScript
var users = {{ usersData | raw }};
var markers = [];
// Parcours des consultants pour créer des marqueurs sur la carte
users.forEach(function(user) {
  var popup = new mapboxgl.Popup()
    .setHTML('<h4>' + user.name + '</h4><p>' + user.city + '</p><a href="{{ path('show', {'id' : user.id }) }}">Voir le consultant</a>');
 // Création du marqueur avec les coordonnées du consultant
  var marker = new mapboxgl.Marker()
    .setLngLat([user.longitude, user.latitude])
    .setPopup(popup);
 // Ajout du marqueur à la liste des marqueurs
  markers.push(marker);
});

// Filtrage des consultants par ville
var filterConsultantsByCity = function(city) {
  markers.forEach(function(marker) {
    var userCity = marker._popup._content.children[1].textContent.toLowerCase();
     if (userCity === city.toLowerCase()) {
      marker.addTo(map);
    } else {
      marker.remove();
    }
  });
};
// Écouteur d'événement pour la recherche par ville
document.getElementById('simple-search').addEventListener('input', function(e) {
  filterConsultantsByCity(e.target.value.toLowerCase());
});




</script>
      {% endfor %}
    </div>
  {% endif %}
</div>





{% endblock %}
{% block javascripts %} 
<script src="{{ asset('js/formationshow.js') }}"></script>

{% endblock %}

