<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="{{ asset('css/formprofile.css')}}">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

{% block body %}

{% form_theme editProfileForm 'tailwind_2_layout.html.twig' %}
{{ form_start(editProfileForm) }}

<div class="min-w-screen min-h-screen bg-sky-500 flex items-center justify-center px-5 py-5">

    <div class="bg-slate-50 text-gray-500 rounded-3xl shadow-xl w-full overflow-hidden" style="max-width:1000px" id="formulaire">
                
                <div class="text-center mb-10">
                    <h1 class="font-bold text-3xl text-gray-900 mt-5" id="title">Modification des informations personnelles</h1>
                </div>

<div class="flex flex-wrap">
    <div class="w-1/2 px-3 mb-5">
        <label for="" class="text-xs text-black font-medium px-1">Nom</label>
            <div class="flex">
                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
                        {{ form_widget(editProfileForm.name,{widget_class: 'w-full -ml-10 pl-1 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500',}) }}    
            </div>
    </div>
    <div class="w-1/2 px-3 mb-5">
        <label for="" class="text-xs text-black font-medium px-1">Prénom</label>
            <div class="flex">
                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
                        {{ form_widget(editProfileForm.firstname,{widget_class: 'w-full -ml-10 pl-1 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500',}) }}    
            </div>
    </div>
    <div class="w-1/2 px-3 mb-5">
        <label for="" class="text-xs text-black font-medium px-1">Date de naissance</label>
            <div class="flex">
                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
                        {{ form_widget(editProfileForm.datebirth,{widget_class: 'w-full -ml-10 pl-1 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500',}) }}    
            </div>
    </div>
    <div class="w-1/2 px-3 mb-5">
        <label for="" class="text-xs text-black font-medium px-1">Adresse</label>
            <div class="flex">
                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
                        {{ form_widget(editProfileForm.address,{widget_class: 'w-full -ml-10 pl-1 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500',}) }}    
            </div>
    </div>
    <div class="w-1/2 px-3 mb-5">
        <label for="" class="text-xs text-black font-medium px-1">Code postal</label>
            <div class="flex">
                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
                        {{ form_widget(editProfileForm.postalcode,{widget_class: 'w-full -ml-10 pl-1 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500',}) }}    
            </div>
    </div>
    <div class="w-1/2 px-3 mb-5">
        <label for="" class="text-xs text-black font-medium px-1">Ville</label>
            <div class="flex">
                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
                        {{ form_widget(editProfileForm.city,{widget_class: 'w-full -ml-10 pl-1 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500',}) }}    
            </div>
    </div>
    <div class="w-1/2 px-3 mb-5">
        <label for="" class="text-xs text-black font-medium px-1">Téléphone</label>
            <div class="flex">
                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
                        {{ form_widget(editProfileForm.phone,{widget_class: 'w-full -ml-10 pl-1 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500',}) }}    
            </div>
    </div>
    <div class="w-1/2 px-3 mb-5">
        <label for="" class="text-xs text-black font-medium px-1">Email</label>
            <div class="flex">
                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
                        {{ form_widget(editProfileForm.email,{widget_class: 'w-full -ml-10 pl-1 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500',}) }}    
            </div>
    </div>
    <div class="w-1/2 px-3 mb-5">
        <label for="" class="text-xs text-black font-medium px-1">Photo</label>
            <div class="flex">
                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
                        {{ form_widget(editProfileForm.picture,{widget_class: 'w-full -ml-10 pl-1 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500',}) }}    
            </div>
    </div>
                             
                    {{ form_end(editProfileForm) }}
                
</div>
</div>

<div id="retour">
<a href="{{path('app_user')}}">
<span class="material-symbols-outlined" id="icon">
arrow_back
</span></a>
</div>

</div>


{% endblock %}
