{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


<div class=" flex flex-col sm:flex-row">
  <div class="sm:w-1/3"></div>
    <div class="container mx-auto  my-5 p-5">
      <div class="md:flex no-wrap md:-mx-2 ">
          <!-- Left Side -->
          <div class="w-full md:w-3/12 md:mx-2">
          <!-- Profile Card -->
              <div class="bg-white p-3 border-t-4 border-blue-800">
                  <div class="image overflow-hidden">
                      {% if app.user.picture %}
    <img class= "w-12 h-11 rounded-full mx-auto" src= "{{ asset("/profile/pictures/" ~ app.user.picture)}}">
    
    {% else %}
      <img class="w-12 h-12 rounded-full  mx-auto  flex"  src="https://source.unsplash.com/150x150/?portrait?3" ></img>
      {% endif %}
                  </div>
                  <h1 class="text-gray-900 font-bold text-xl leading-8 my-1">{{app.user.name}} {{app.user.firstname}}</h1>
                  <h3 class="text-gray-600 font-lg text-semibold leading-6">Owner at Her Company Inc.</h3>
                  <p class="text-sm text-gray-500 hover:text-gray-600 leading-6">Lorem ipsum dolor sit amet
                      consectetur adipisicing elit.
                      Reprehenderit, eligendi dolorum sequi illum qui unde aspernatur non deserunt</p>
                  <ul
                      class="bg-gray-100 text-gray-600 hover:text-gray-700 hover:shadow py-2 px-3 mt-3 divide-y rounded shadow-sm">
                      <li class="flex items-center py-3">
                          <span>Status</span>
                          <span class="ml-auto"><span
                                  class="bg-green-500 py-1 px-2 rounded text-white text-sm">Active</span></span>
                      </li>
                      <li class="flex items-center py-3">
                          <span>Adhérent depuis</span>
                          <span class="ml-auto">Nov 07, 2016</span>
                      </li>
                  </ul>
              </div>
              <!-- End of profile card -->
              <div class="my-4"></div>
              <!-- Friends card -->
              <div class="bg-white p-3 hover:shadow">
              </div>
              <!-- End of friends card -->
          </div>
          <!-- Right Side -->
          <div class="w-full md:w-9/12 mx-2 h-64">
              <!-- Profile tab -->
              <!-- About Section -->
              <div class="bg-white p-3 shadow-sm rounded-sm">
                  <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8">
                      <span class="tracking-wide">Informations</span>
                  </div>
                  <div class="text-gray-700">
                      <div class="grid md:grid-cols-2 text-sm">
                          <div class="grid grid-cols-2">
                              <div class="px-4 py-2 font-semibold">Prénom</div>
                              <div class="px-4 py-2">{{app.user.firstname}}</div>
                          </div>
                          <div class="grid grid-cols-2">
                              <div class="px-4 py-2 font-semibold">Nom</div>
                              <div class="px-4 py-2">{{app.user.name}}</div>
                          </div>
                          <div class="grid grid-cols-2">
                              <div class="px-4 py-2 font-semibold">Téléphone</div>
                              <div class="px-4 py-2">{{ app.user.phone }}</div>
                          </div>
                          <div class="grid grid-cols-2">
                              <div class="px-4 py-2 font-semibold">Ville</div>
                              <div class="px-4 py-2">{{ app.user.city }}</div>
                          </div>
                          <div class="grid grid-cols-2">
                              <div class="px-4 py-2 font-semibold">Adresse</div>
                              <div class="px-4 py-2">{{ app.user.address }}</div>
                          </div>
                          <div class="grid grid-cols-2">
                              <div class="px-4 py-2 font-semibold">Code Postal</div>
                              <div class="px-4 py-2">{{ app.user.postalcode }}</div>
                          </div>
                          <div class="grid grid-cols-2">
                              <div class="px-4 py-2 font-semibold">Mail</div>
                              <div class="px-4 py-2">
                                  <a class="text-blue-800" href="mailto:jane@example.com">{{ app.user.email }}</a>
                              </div>
                          </div>
                          <div class="grid grid-cols-2">
                              <div class="px-4 py-2 font-semibold">Anniversaire</div>
                              <div class="px-4 py-2">{{ app.user.datebirth.format('d/m/Y') }}</div>
                          </div>
                      </div>
                  </div>
                  <button
                    {# "{{path('app_editprofil')}}" #}
                      class=" w-64 text-blue-800 text-sm font-semibold rounded-lg hover:bg-gray-100 focus:outline-none focus:shadow-outline focus:bg-gray-100 hover:shadow-xs p-3 my-4"> <a href="{{path('app_editprofil')}}">
                      Modification des données personnels</a></button>
                    <button
                      class=" w-64 text-blue-800 text-sm font-semibold rounded-lg hover:bg-gray-100 focus:outline-none focus:shadow-outline focus:bg-gray-100 hover:shadow-xs p-3 my-4"><a href="{{path('app_editpass')}}">
                      Modification de mots de passe</a></button>
              </div>
              
              <!-- End of profile tab -->
          </div>
      </div>
  </div>
</div>
{# Modification des données personnels Modal #}
<div class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center" id="modal-id">
    <div class="relative w-auto my-6 mx-auto max-w-3xl">
      <!--content-->
      <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
        <!--header-->
        <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
          <h3 class="text-3xl font-semibold">
           Modification des données personnels
          </h3>
          <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" onclick="toggleModal('modal-id')">
            <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
              
            </span>
          </button>
        </div>
        <!--body-->
        <div class="relative p-6 flex-auto">
          <p class="my-4 text-slate-500 text-lg leading-relaxed">
           Formulaire de  modification des données personnels 
          </p>
        </div>
        <!--footer-->
        <div class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b">
          <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" onclick="toggleModal('modal-id')">
            Close
          </button>
          <button class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" onclick="toggleModal('modal-id')">
            Save Changes
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="hidden opacity-25 fixed inset-0 z-40 bg-black" id="modal-id-backdrop"></div>
  <script type="text/javascript">
    function toggleModal(modalID){
      document.getElementById(modalID).classList.toggle("hidden");
      document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
      document.getElementById(modalID).classList.toggle("flex");
      document.getElementById(modalID + "-backdrop").classList.toggle("flex");
    }
  </script>
{% endblock %}
